.tably-widget-toggle {
  position: fixed;
  right: 30px;
  bottom: 30px;
  height: 60px;
  width: 60px;
  background: #2ecc71;
  color: white;
  border-radius: 100%;
  text-align: center;
  padding-top: 20px;
  box-shadow: 0 0 20px transparentize(black, 0.8);
  cursor: pointer;
}

.tably-widget-notification {
  position: fixed;
  right: 30px;
  bottom: 110px;
  padding: 15px;
  width: 160px;
  border-radius: 10px;
  background: #eee;
}

.tably-widget-close {
  position: absolute;
  right: 0;
  top: 0;
  width: 50px;
  height: 50px;
  padding: 15px;
}

.tably-widget-container-hidden {
  display: none;
}

.tably-widget-wrapper {
  position: fixed;
  right: 30px;
  bottom: -700px;
  height: 460px;
  width: 340px;
  border-radius: 5px;
  background: white;
  box-shadow: 0 0 20px transparentize(black, 0.8);
  overflow: hidden;
  opacity: 0;
  transition: 0.5s;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-style: normal;
  letter-spacing: normal;
  font-stretch: normal;
  font-variant: normal;
  font-weight: 400;
}

.tably-widget-wrapper-show {
  bottom: 120px;
  opacity: 1;
}

.tably-widget-inner {
  padding: 15px;
}

.tably-widget-header {
  background: #2ecc71;
  color: white;
  padding: 15px;
  text-align: center;
  font-style: normal;
  letter-spacing: normal;
  font-stretch: normal;
  font-variant: normal;
  font-weight: 400;
  height: 50px;
}

.tably-widget-label {
  display: block;
  margin-bottom: 5px;
  font-size: 14px;
}

.tably-widget-btn {
  background: #7f90a5;
  padding: 10px;
  color: white;
  border-radius: 8px;
  text-align: center;
  cursor: pointer;
  transition: 0.5s;

  &:hover {
    box-shadow: 0 0 20px transparentize(black, 0.8);
  }
}

.datepicker-inline {
  margin: 0 auto;
  padding-top: 55px;
  width: 100%;
}

.datepicker td,
.datepicker th {
  height: 30px;
  width: 50px;
}

.tably-widget-btn-back {
  position: absolute;
  top: 20px;
  left: 20px;
  background: transparent;
  color: white;
  text-align: left;
  font-size: 13px;
  cursor: pointer;
}

.tably-widget-radio-time {
  display: block;
  float: left;
  width: 33.3333%;
  text-align: center;
  border: 10px solid #fff;
  padding: 10px;
  border-radius: 16px;
  background: #2ecc71;
  color: white;
  cursor: pointer;

  input {
    display: none;
  }
}

.tably-widget-btn-next {
  display: block;
  padding: 10px;
  font-size: 14px;
  background: grey;
  text-align: center;
  width: 100%;
  color: white;
  margin-top: 30px;
  cursor: pointer;
  border-radius: 7px;
}

.tably-widget-input {
  display: block;
  border: 1px solid #dadfe3;
  background: #fafbfc;
  padding: 10px;
  border-radius: 3px;
  width: 100%;
  margin-bottom: 15px;
  height: 40px;

  &:focus {
    outline: none;
  }
}

.datepicker table tr td.active:hover, .datepicker table tr td.active:hover:hover, .datepicker table tr td.active.disabled:hover, .datepicker table tr td.active.disabled:hover:hover, .datepicker table tr td.active:active, .datepicker table tr td.active:hover:active, .datepicker table tr td.active.disabled:active, .datepicker table tr td.active.disabled:hover:active, .datepicker table tr td.active.active, .datepicker table tr td.active:hover.active, .datepicker table tr td.active.disabled.active, .datepicker table tr td.active.disabled:hover.active, .datepicker table tr td.active.disabled, .datepicker table tr td.active:hover.disabled, .datepicker table tr td.active.disabled.disabled, .datepicker table tr td.active.disabled:hover.disabled, .datepicker table tr td.active[disabled], .datepicker table tr td.active:hover[disabled], .datepicker table tr td.active.disabled[disabled], .datepicker table tr td.active.disabled:hover[disabled] {
  background: #2ecc71;
}

.datepicker table tr td span.active:hover, .datepicker table tr td span.active:hover:hover, .datepicker table tr td span.active.disabled:hover, .datepicker table tr td span.active.disabled:hover:hover, .datepicker table tr td span.active:active, .datepicker table tr td span.active:hover:active, .datepicker table tr td span.active.disabled:active, .datepicker table tr td span.active.disabled:hover:active, .datepicker table tr td span.active.active, .datepicker table tr td span.active:hover.active, .datepicker table tr td span.active.disabled.active, .datepicker table tr td span.active.disabled:hover.active, .datepicker table tr td span.active.disabled, .datepicker table tr td span.active:hover.disabled, .datepicker table tr td span.active.disabled.disabled, .datepicker table tr td span.active.disabled:hover.disabled, .datepicker table tr td span.active[disabled], .datepicker table tr td span.active:hover[disabled], .datepicker table tr td span.active.disabled[disabled], .datepicker table tr td span.active.disabled:hover[disabled] {
  background: #2ecc71;
}

.datepicker table tr td.today, .datepicker table tr td.today:hover, .datepicker table tr td.today.disabled, .datepicker table tr td.today.disabled:hover {
  background: #2ecc71;
}
