<div class="tably-widget-wrapper" id="tably-widget-wrapper">
  <div class="tably-widget-header">Tisch reservieren ${body}</div>
  <div class="tably-widget-inner">
    <div id="tably-widget-container-customer">
      <label class="tably-widget-label">Vorname</label>
      <input class="tably-widget-input" type="text" />
      <label class="tably-widget-label">Nachname</label>
      <input class="tably-widget-input" type="text" />
      <label class="tably-widget-label">Email</label>
      <input class="tably-widget-input" type="email" />
      <label class="tably-widget-label">Mobiltelefonnummer</label>
      <input class="tably-widget-input" type="phone" />
      <div class="tably-widget-btn" id="tably-widget-btn-customer">Weiter</div>
    </div>

    <div class="tably-widget-container-hidden" id="tably-widget-container-reservationinfo">
      <label class="tably-widget-label">Datum</label>
      <input class="tably-widget-input" type="text" />
      <label class="tably-widget-label">Uhrzeit</label>
      <input class="tably-widget-input" type="text" />
      <label class="tably-widget-label">Personen</label>
      <select class="tably-widget-input">
        <option>1 Person</option>
      </select>
      <label class="tably-widget-label">Sonstiges</label>
      <input class="tably-widget-input" type="text" />
      <div class="tably-widget-btn">Weiter</div>
    </div>

  </div>
</div>
